SERVICE_NAME=alert-management-service
SERVICE_VERSION=1.0.0
ENVIRONMENT=development
USE_KAFKA_LOGGING=false
EXCLUDE_HEALTH_LOGS=true
EXCLUDE_METRICS_LOGS=true
EXCLUDE_OPTIONS_LOGS=true
ALLOWED_LOG_LEVELS=DEBUG,INFO,WARNING,ERROR
MIN_LOG_LEVEL=INFO
LOG_LEVEL=INFO
INCLUDE_4XX_LOGS=false

# Authentication
AUTH_SERVICE_URL=http://auth-service:8081