APP_DB_USER=dhruva_user
APP_DB_PASSWORD=dhruva_secure_password_2024
APP_DB_HOST=postgres
APP_DB_PORT=5432
APP_DB_NAME=multi_tenant_db


AUTH_DB_USER=dhruva_user
AUTH_DB_PASSWORD=dhruva_secure_password_2024
AUTH_DB_HOST=postgres
AUTH_DB_PORT=5432
AUTH_DB_NAME=auth_db

AUTH_SERVICE_URL=http://auth-service:8081
AUTH_HTTP_TIMEOUT=10

#registration
API_GATEWAY_URL=http://api-gateway-service:8080


REDIS_HOST=localhost
REDIS_PORT=6381
REDIS_DB=0
REDIS_PASSWORD=redis_secure_password_2024
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_PER_HOUR=1000


RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_PER_HOUR=1000


SENDGRID_API_KEY=
FROM_EMAIL=ambarish.ganguly@tarento.com

# Email verification link base URL
EMAIL_VERIFICATION_LINK=http://core-v1.ai4inclusion.org:8080
LOGIN_URL=https://core-v1.ai4inclusion.org