groups:
- name: application-alerts
  interval: 30s
  rules:
  - alert: HighMedianLatencyPerService_beml
    expr: histogram_quantile(0.5, sum by (le, endpoint) (rate(telemetry_obsv_request_duration_seconds_bucket{endpoint=~"/.*inference.*", organization="beml"}[5m]))) > 0.15
    for: 2m
    labels:
      organization: beml
      severity: warning
      urgency: medium
      category: application
      alert_type: Latency
      scope: per_endpoint
    annotations:
      summary: HighMedianLatencyPerService for beml
      description: High median latency for specific inference endpoints
