groups:
- name: application-alerts
  interval: 30s
  rules:
  - alert: test_beml
    expr: histogram_quantile(0.5, sum by (le, endpoint) (rate(telemetry_obsv_request_duration_seconds_bucket{endpoint=~"/.*inference.*", organization="beml"}[5m]))) > 50.0
    for: 5m
    labels:
      organization: beml
      severity: warning
      urgency: medium
      category: application
      alert_type: Latency
    annotations:
      summary: test for beml
      description: null
  - alert: gg_irctc
    expr: histogram_quantile(0.5, sum by (le, endpoint) (rate(telemetry_obsv_request_duration_seconds_bucket{endpoint=~"/.*inference.*", organization="irctc"}[5m]))) > 4.0
    for: 1m
    labels:
      organization: irctc
      severity: warning
      urgency: medium
      category: application
      alert_type: Latency
    annotations:
      summary: gg for irctc
      description: null
  - alert: testt_irctc
    expr: sum by (endpoint)(rate(telemetry_obsv_http_requests_total{status=~"[45]..", endpoint=~"/.*inference.*", organization="irctc"}[5m])) / sum by (endpoint)(rate(telemetry_obsv_http_requests_total{endpoint=~"/.*inference.*", organization="irctc"}[5m])) > 50.0
    for: 5m
    labels:
      organization: irctc
      severity: warning
      urgency: medium
      category: application
      alert_type: Error Rate
    annotations:
      summary: testt for irctc
      description: null
  - alert: test 2_kisanmitra
    expr: histogram_quantile(0.5, sum by (le, endpoint) (rate(telemetry_obsv_request_duration_seconds_bucket{endpoint=~"/.*inference.*", organization="kisanmitra"}[5m]))) > 50.0
    for: 5m
    labels:
      organization: kisanmitra
      severity: warning
      urgency: medium
      category: application
      alert_type: Latency
    annotations:
      summary: test 2 for kisanmitra
      description: null
