{# details: [threshold, alert_datetime, current_value] #}
{% set layout = "alert" %}
{% set name = "Budget Threshold" %}
{% set threshold = details[0] %}
{% set alert_datetime = details[1] %}
{% set current_value = details[2] %}
