APP_DB_USER=dhruva_user
APP_DB_PASSWORD=dhruva_secure_password_2024
APP_DB_HOST=localhost
APP_DB_PORT=5434
APP_DB_NAME=model_management_db


AUTH_DB_USER=dhruva_user
AUTH_DB_PASSWORD=dhruva_secure_password_2024
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5434
AUTH_DB_NAME=auth_db



REDIS_HOST=localhost
REDIS_PORT=6381
REDIS_DB=0
REDIS_PASSWORD=redis_secure_password_2024
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_PER_HOUR=1000
